#img1{
    height: 50vh !important;
}
img{
    /* height: 20vh; */
    height: 25vh !important;
    width: 50vw;
}
#heit{
    height: 40vh !important;
    width: 55vw !important;
}
a:hover{
    color: blue;
}